<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <typeAliases>
        <typeAlias alias="MemberDto" type="org.scoula.dto.member.MemberDto" />
        <typeAlias alias="PostDto" type="org.scoula.dto.post.PostDto" />
        <typeAlias alias="BoardDto" type="org.scoula.dto.board.BoardDto" />
        <typeAlias alias="SiwanDto" type="org.scoula.dto.siwan.SiwanDto" />
        <typeAlias alias="SiwanDto2" type="org.scoula.dto.siwan.SiwanDto2" />
        <typeAlias alias="BookMybatis" type="org.scoula.domain.BookMybatis" />
        <typeAlias alias="TodoMybatis" type="org.scoula.domain.TodoMybatis" />
        <typeAlias alias="StudentMybatis" type="org.scoula.domain.StudentMybatis" />
    </typeAliases>
</configuration>
